body {
    font-family: sans-serif;
    margin-top: 60;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-large {
    height: 200px;
}

.container {
    max-width: 800px;
    color: #545252;
    margin: 0 auto;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.first {
    border: 2px solid grey;
    background-color: white;
    color: red;
}

.first:hover {
    text-decoration: underline;
    color: #242222;
}

.third {
    border: 2px solid black;
    background-color: #f0f0f0;
}

.third:hover {
    text-decoration: underline;
    color: #e0e0e0;
}
